/ %p.last-root= "LAST STEM: #{ArabicStem.last.root.map { |letter| ArabicLetter.find_by_english_symbol(letter).ascii_value.to_i.chr }.join(' - ')} ( #{ArabicStem.last.measures.join(' - ')} )"

= form_tag create_stem_url do
	%fieldset
		= label_tag :root1, "Root 1"
		= text_field_tag :root1, nil, autocomplete: "off"
	%fieldset
		= label_tag :root2, "Root 2"
		= text_field_tag :root2, nil, autocomplete: "off"
	%fieldset
		= label_tag :root3, "Root 3"
		= text_field_tag :root3, nil, autocomplete: "off"
	%fieldset
		= label_tag :root4, "Root 4"
		= text_field_tag :root4, nil, autocomplete: "off"

	%hr

	%fieldset
		= label_tag "measure", "I"
		= check_box_tag "measure[1]", "I"
		= label_tag "measure[2]", "II"
		= check_box_tag "measure[2]", "II"
	%fieldset
		= label_tag "measure[3]", "III"
		= check_box_tag "measure[3]", "III"
		= label_tag "measure[4]", "IV"
		= check_box_tag "measure[4]", "IV"
	%fieldset
		= label_tag "measure[5]", "V"
		= check_box_tag "measure[5]", "V"
		= label_tag "measure[6]", "VI"
		= check_box_tag "measure[6]", "VI"
	%fieldset
		= label_tag "measure[7]", "VII"
		= check_box_tag "measure[7]", "VII"
		= label_tag "measure[8]", "VIII"
		= check_box_tag "measure[8]", "VIII"
	%fieldset
		= label_tag "measure[9]", "IX"
		= check_box_tag "measure[9]", "IX"
		= label_tag "measure[10]", "X"
		= check_box_tag "measure[10]", "X"

	%hr

	%fieldset
		= label_tag "perfect-kicker", "aa"
		= radio_button_tag "perfect-kicker", "aa"
		= label_tag "perfect-kicker", "w"
		= radio_button_tag "perfect-kicker", "w"
		= label_tag "perfect-kicker", "y"
		= radio_button_tag "perfect-kicker", "y"
	%fieldset
		= label_tag "imperfect-kicker", "aa"
		= radio_button_tag "imperfect-kicker", "aa"
		= label_tag "imperfect-kicker", "w"
		= radio_button_tag "imperfect-kicker", "w"
		= label_tag "imperfect-kicker", "y"
		= radio_button_tag "imperfect-kicker", "y"

	%hr

	%fieldset
		= label_tag :verbal_nouns, "Verbal Nouns ( separated by comma )"
		= text_field_tag :verbal_nouns

	%hr

	%fieldset
		= label_tag :notes
		= text_area_tag :notes

	= submit_tag "Submit"

:sass
	fieldset
		border: 0px
	last-root
		font-weight: bold
		font-size: 16px
