!!!
%html(ng-app = "Arabicio")

  %head
    %title Arabicio
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags

  %body
    .wrapper{class: "#{controller.controller_name}-#{controller.action_name}"}
      = render "shared/notifications"

      %div(ng-controller="StemParserController")
        %stem-parser

    .footer-javascripts
      = javascript_include_tag "application"
